:root
{
    --color-light-blue:#CCF6E9;
    --color-light-green: #438A74;
    --color-med-blue: #1258D9;
    --color-dark-blue: #2C2CE2;
    --color-black: #090933;
}


body
{
    background-color: var(--color-light-green);
    color: var(--color-dark-blue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu
{
    margin:20px;
    padding: 5px;
    background-color:var(--color-light-blue);
    color:black;
}

.menu_link
{
    margin-left:35px;
    color: var(--color-dark-blue);
    text-decoration: none;
}

.menu_link:hover
{
    color:red;
}

#line
{
    border: 2px solid black;
    position: relative;
    width: 1700px;
    top: -12px;
    left:120px;
}