.filter-list 
{
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
    padding-left: 0px;
    user-select: none;
}

#filter 
{
    list-style: none;
    display: inline;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

#filter:hover
{
    background-color:#1f8dd6;
    color: black;
}


.project
{
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.project > *
{
    text-decoration: none;
    color: black;
    vertical-align: baseline;
    padding-top: 5px;
    padding-bottom: 5px;
}